body {
  padding: 0px;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}
button {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
.big-h1 {
  font-size: 70px;
  font-family: "Josefin Sans", sans-serif;
}
.header {
  font-family: "Josefin Sans", sans-serif;
  font-size: 50px;
}
.section-divider {
  color: #e22104;
}
.primary-button {
  background-color: #e22104;
  padding: 12px 45px;
  color: white;
  border: none;
  border-radius: 30px;
  font-weight: 600;
}
.transparent-button {
  border: none;
  background-color: white;
}
.flexbox-main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.margin-box {
  margin: 130px auto;
  width: 1140px;
  height: 414px;
}
.no-margin-top-bottom {
  margin: 15px auto;
  height: 50px;
}
.emergency-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
}
.top-bar {
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.icon {
  height: auto;
  width: auto;
  background-color: black;
}
.button-list {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  list-style: none;
}
.button {
  font-size: 14px;
  margin-right: 35px;
}
.social {
  display: flex;
  align-content: center;
  justify-content: center;
}
.social-network {
  display: flex;
  align-content: center;
  justify-content: space-between;
  border: 3px solid black;
  width: 30px;
  margin-right: 75px;
}
.icon {
  width: 50px;
  height: 50px;
  border: 3px black; /* Needs further fixing */
}
.social-advertisement {
  width: 474px;
}
.social-icon-list {
  display: flex;
  justify-content: space-evenly;
  margin-top: 140px;
}
.social-picture-bar {
  box-sizing: border-box;
  height: 709px;
  width: 650px;
  border: 3px;
  margin-right: 50px;
}
.social-picture-bar {
  box-sizing: border-box;
  height: 709px;
  width: 650px;
  border: 3px solid black;
}
.social-display-picture {
  display: inherit;
}
