* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  color: #888;
  font-weight: 400;
  line-height: 1.8;
}
.margin-box {
  width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
.margin-section-box {
  margin: 130px 0;
}
.primary-button {
  background-color: #e22104;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  padding: 12px 45px;
}
.white-border {
  border: 1px solid #fff;
}
.section-divider-container {
  display: flex;
  align-items: center;
}
.section-divider {
  font-size: 24px;
  font-family: "Josefin Sans", sans-serif;
  color: #e22104;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 15px;
}

.section-line {
  height: 1px;
  background-color: #3a414e;
  width: 100px;
  margin-top: 0;
  margin-bottom: 15px;
  margin-left: 13px;
}
.standard-section-title {
  font-size: 50px;
  font-family: "Josefin Sans", sans-serif;
  color: #2f2d4e;
  line-height: 1.2;
  margin-top: 0px;
}
.item-header {
  font-size: 24px;
  font-family: "Josefin Sans", sans-serif;
  margin: 0px;
  color: #2f2d4e;
  font-weight: 600;
  line-height: 1.2;
}
.price {
  font-size: 24px;
  color: #e22104;
  font-weight: 600;
}
.navbar .navbar-content .logo-homepage {
  width: 92px;
  height: 31px;
}
.navbar .navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.navbar .navbar-content .logo-homepage {
  margin: 33px 0px;
}
.navbar .navbar-content .menu .options {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navbar .navbar-content .menu .menu-dropdown {
  display: none;
}
.navbar .navbar-content .menu .options a {
  text-decoration: none;
  padding: 0px 17.5px;
  font-size: 14px;
}
.navbar .navbar-content .menu .options .primary-link {
  color: #e22104;
}
.navbar .navbar-content .menu .options .secondary-link {
  color: #2f2d4e;
}
.navbar .navbar-content .menu .options .secondary-link:hover {
  color: #e22104;
}

.social {
  display: flex;
  justify-content: space-between;
}
.social .banner-left {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 22%;
  width: 50%;
}
.social .banner-left .social-network {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding-left: 7.5%;
  padding-top: 30%;
}

.social .banner-left .content {
  padding-top: 12%;
}
.social .banner-left .content .title {
  font-size: 70px;
  color: #2f2d4e;
  font-family: "Josefin Sans", sans-serif;
  line-height: 0.929;
}
.social .banner-left .content .button-menu {
  display: flex;
  flex-direction: row;
}
.social .banner-left .content .button-menu .transparent-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: #2f2d4e;
  padding: 12px 45px;
  background-color: #fff;
  font-weight: 600;
  border: none;
}
.social .banner-left .content ul {
  margin: 0;
  padding: 0;
}
.social .banner-left .content .services {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-top: 130px;
}
.social .banner-left .content .services .services-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-right: 1px solid #eeeeee;
  padding-right: 35px;
  padding-left: 35px;
}

.social .banner-left .content .services li:first-child {
  padding-left: 0px;
}
.social .banner-left .content .services li:last-child {
  padding-right: 0px;
  border-right: none;
}
.social .banner-left .content .services .services-item .services-info {
  font-size: 18px;
  color: #2f2d4e;
  font-family: "Josefin Sans", sans-serif;
  margin-top: 7px;
}
.social .banner-right {
  margin-right: 7%;
  width: 43%;
}
.social .banner-right .display {
  aspect-ratio: 456 / 498;
  max-width: 100%;
  min-width: 100%;
}
.about-content {
  display: flex;
  flex-direction: row;
  gap: 10%;
}
.about-content .photo-container {
  width: 50%;
  position: relative;
}
.about-content .photo-container .overlap {
  position: absolute;
  bottom: -55px;
  right: -15px;
}
.about-content .content {
  width: 43%;
}
.about-content .content .primary-button {
  margin-top: 40px;
}
.featured .standard-section-title {
  margin-bottom: 75px;
}
.featured .picture-slider {
  display: flex;
  justify-content: space-between;
}
.featured .picture-slider .slider-item {
  width: 31.5%;
  background-color: #fff8f7;
}
.featured .picture-slider .slider-item .item-display {
}
.featured .picture-slider .slider-item .item-display .display {
  aspect-ratio: 360 / 355;
  max-width: 100%;
  max-height: 100%;
}
.featured .picture-slider .slider-item .item-info {
  padding: 15px 30px 30px 30px;
}
.featured .picture-slider .slider-item .item-info .rating-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.featured .picture-slider .slider-item .item-info .ratings {
  list-style-type: none;
  display: flex;
  padding: 0;
  gap: 13%;
}
.offer {
  background-color: #fff8f7;
}
.offer .offer-content {
  padding: 130px 0px;
}
.offer .offer-info {
  background-color: #e22104;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.offer .offer-info h2 {
  font-size: 40px;
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
  margin: 0 0 25px 0;
}
.offer .offer-info h1 {
  font-size: 60px;
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
  margin: 0 0 25px 0;
}
/* @media querries area */

@media only screen and (max-width: 1400px) {
  .social .banner-left {
    justify-content: start;
    gap: 8%;
  }
  .social .banner-left .social-network {
    padding-left: 3.5%;
  }
  .social .banner-left .content .services {
    padding-top: 60px;
  }
}

@media only screen and (max-width: 1200px) {
  .margin-box {
    width: 960px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .standard-section-title {
    font-size: 26px;
  }
  .about-content {
    gap: 6%;
  }
  .about-content .content {
    width: 47%;
  }
}
@media only screen and (max-width: 1140px) {
  .social .banner-left .content .services .services-item {
    padding-right: 15px;
    padding-left: 15px;
  }
  .social .banner-left .content .title {
    font-size: 50px;
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 992px) {
  .margin-box {
    width: 720px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .margin-section-box {
    margin: 65px 0;
  }
  .item-header {
    font-size: 19px;
  }
  .navbar {
    background-color: #d1cff4;
  }
  .navbar .navbar-content .logo-homepage {
    margin: 23px 0px;
  }
  .navbar .navbar-content .menu .options {
    display: none;
  }
  .navbar .navbar-content .menu .menu-dropdown {
    display: flex;
  }
  .social .banner-left {
    padding-left: 7.5%;
  }
  .social .banner-left .social-network {
    display: none;
  }
  .social .banner-left .content .title {
    font-size: 35px;
  }
  .social .banner-left .content .services {
    display: none;
  }
  .about-content {
    gap: 11%;
  }
  .about-content .photo-container .overlapped {
    max-width: 100%;
    min-width: 100%;
  }
  .about-content .content .primary-button {
    margin-top: 24px;
  }
  .featured .picture-slider {
    gap: 4%;
  }
  .featured .picture-slider .slider-item {
    width: 50%;
  }
  .featured .picture-slider > div:last-child {
    display: none;
  }
}

@media only screen and (max-width: 845px) {
  .social .banner-left .content .button-menu .primary-button {
    padding: 8px 19px;
  }
  .social .banner-left .content .button-menu .transparent-button {
    padding: 8px 19px;
  }
}

@media only screen and (max-width: 840px) {
  .social .banner-left .content .title {
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 780px) {
  .social .banner-left .content .button-menu {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media only screen and (max-width: 768px) {
  .margin-box {
    width: 540px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .about-content {
    flex-direction: column;
  }
  .about-content .photo-container {
    width: 76%;
    height: 60%;
  }
  .about-content .photo-container .overlap {
    right: -138px;
    bottom: -66px;
  }
  .about-content .content {
    width: 100%;
    margin-top: 96px;
  }
  .featured .picture-slider > div:nth-child(2n) {
    display: none;
  }
  .featured .picture-slider .slider-item {
    width: 100%;
  }
  .featured .picture-slider .slider-item .item-display .display {
    object-fit: contain;
    width: 100%;
  }
}
@media only screen and (max-width: 632px) {
}
@media only screen and (max-width: 600px) {
  .primary-button {
    padding: 0;
  }
}
