body {
  padding: 0px;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.8;
  font-weight: 400;
}
button {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
.big-h1 {
  font-size: 70px;
  font-family: "Josefin Sans", sans-serif;
  line-height: 0.929;
}
.header {
  font-family: "Josefin Sans", sans-serif;
  font-size: 50px;
  line-height: 1.2;
}
.section-divider {
  color: #e22104;
  font-family: "Josefin Sans", sans-serif;
}
.text-content {
  font-size: 15px;
}
.primary-button {
  box-sizing: border-box;
  background-color: #e22104;
  padding: 12px 45px;
  color: white;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  padding: 12px 45px;
  width: auto;
}
.transparent-button {
  border: none;
  background-color: white;
}
.white-border {
  border: 1px solid #fff;
}
.flexbox-main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.margin-box {
  margin: 130px auto;
  width: 1140px;
  height: auto;
}
.no-margin-top-bottom {
  margin: 15px auto;
  height: 50px;
}
.emergency-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
}
.top-bar {
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.icon {
  height: auto;
  width: auto;
  background-color: black;
}
.button-list {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  list-style: none;
}
.button {
  font-size: 14px;
  margin-right: 35px;
}
.social {
  display: flex;
  align-content: center;
  justify-content: center;
}
.social-network {
  display: flex;
  align-content: column;
  justify-content: space-between;
  border: 3px solid black;
  width: 30px;
  margin-right: 75px;
}
.icon {
  width: 50px;
  height: 50px;
  border: 3px black; /* Needs further fixing */
}
.social-advertisement {
  width: 474px;
}
.social-icon-list {
  display: flex;
  justify-content: space-evenly;
  margin-top: 140px;
}
.social-picture-bar {
  box-sizing: border-box;
  height: 709px;
  width: 650px;
  border: 3px;
  margin-right: 50px;
}
.social-picture-bar {
  box-sizing: border-box;
  height: 709px;
  width: 650px;
  border: 3px solid black;
}
.social-display-picture {
  display: inherit;
}
.about-picture {
  width: 540px;
  height: 414px;
}
.about-text {
  width: 475px;
}
.featured-picture-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.featured-picture-item {
  box-sizing: border-box;
  width: 350px;
  border: 3px solid black;
}
.featured-picture-item-photo {
  height: 345.14px;
}
.rating-star {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.offer {
  background-color: #fff8f7;
}
.offer-info {
  position: relative;
  width: 555px;
  height: 380px;
  background-color: #e22104;
  left: -110px;
  top: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info-name {
  font-family: "Josefin Sans", sans-serif;
  font-size: 40px;
  line-height: 1.2;
  color: #ffffff;
  text-align: center;
}
.info-content {
  font-size: 60px;
  color: #ffffff;
  text-align: center;
  font-weight: 600;
}
.food-menu-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px 20px;
}
.menu-grid-item {
  box-sizing: border-box;
  background-color: #fff8f7;
  width: 540px;
  height: 159px;
}
